@forward 'globals';

//header

header {
    height: 538px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/mobile/image-header.jpg);

    @media screen and (min-width: 768px) {
        background-image: url(../images/desktop/image-header.jpg);
        height: 800px;
    }
}

.top-menu-container {
    padding: 30px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        padding: 30px 40px;
    }
}

.logo {
    height: 1.1rem;

    @media screen and (min-width: 768px) {
        height: 1.8rem;
    }
}

#OpenBtn {
    background: none;
    border: none;
    padding: 0;
    display: block;
    margin-inline-start: auto;
    transition: 0.5s;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.navbtn-open {
    opacity: 0.5;
}

.top-nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background: white;
    width: 50%;
    padding: 25px 0;
    left: 25%;
    top: -100%;
    transition: 0.5s;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
        padding: 0;
    }
}

.top-nav-menu.active {
    @media screen and (max-width: 768px) {
        top: 15%;
    }
}

.top-nav-menu::after {
    @media screen and (max-width: 768px) {
        content: "";
        position: absolute;
        right: 0;
        top: -10%;
        border-bottom: 50px solid white;
        border-left: 50px solid transparent;
    }
}

.top-nav-item {
    padding: 18px 0;

    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.top-nav-link {
    margin: auto;
    color: var(--grey-text);

    @media screen and (min-width: 768px) {
        color: white;
        margin-right: 47px;
    }
}

.top-nav-link:hover {
    opacity: 0.8;
}

.contact-button {
    border-radius: 28px;
    text-transform: uppercase;
    color: var(--dark-text);
    background-color: var(--yellow);
    padding: 15px 30px;

    @media screen and (min-width: 768px) {
        margin-right: 0;
        background-color: white;
    }
}

.contact-button:hover {
    background-color: var(--lt-yellow);

    @media screen and (min-width: 768px) {
        background-color: #6fcefe;
        color: white;
    }
}

#page-header {
    text-align: center;
}

//main section

.first-sec {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 375px 450px 375px 450px 600px 600px;

    @media screen and (min-width: 768px) {
        min-height: 1800px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.blurb1 {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 24px;

    @media screen and (min-width: 768px) {
        grid-column: 1;
        grid-row: 1;
        padding: 0 120px;
        text-align: left;
    }
}

.blurb-img1 {
    grid-column: 1;
    grid-row: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-transform.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-transform.jpg');
        grid-column: 2;
        grid-row: 1;
    }
}

.blurb-img2 {
    grid-column: 1;
    grid-row: 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-stand-out.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-stand-out.jpg');
        grid-column: 1;
        grid-row: 2;
    }
}

.blurb2 {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 24px;

    @media screen and (min-width: 768px) {
        grid-column: 2;
        grid-row: 2;
        padding: 0 120px;
        text-align: left;
    }
}

.main-text {
    margin-top: 32px;
    margin-bottom: 32px;
    color: var(--grey-text);
}


#learn1::before {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    z-index: -1;
    background-color: var(--yellow);
    border-radius: 0.3rem;
    height: 0.5rem;
    width: 100%;
    opacity: 0.3;
}

#learn1:hover::before {
    opacity: 1;
}

#learn2::before {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    z-index: -1;
    background-color: var(--soft-red);
    border-radius: 0.3rem;
    height: 0.5rem;
    width: 100%;
    opacity: 0.3;
}

#learn2:hover::before {
    opacity: 1;
}

.blurb3 {
    grid-column: 1;
    grid-row: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-graphic-design.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-graphic-design.jpg');
        grid-column: 1;
        grid-row: 3;
    }
}

.blurb4 {
    grid-column: 1;
    grid-row: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-photography.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-photography.jpg');
        grid-column: 2;
        grid-row: 3;

    }
}

//testimonials

.testimonials {
    margin: 64px auto;

    @media screen and (min-width: 768px) {
        margin: 160px auto;
    }

}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        width: 85%;
    }
}

.client {
    // padding: 32px 24px;
    margin: 32px 24px;
    text-align: center;

    @media screen and (min-width: 768px) {
        // padding: 0 30px 0 0;
        margin: 0 30px 0 0;
    }
}

.client:last-of-type {
    margin: 0;
}

.clientimg {
    width: 72px;
    border-radius: 100%;
}

//gallery

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.galleryimg {
    width: 50%;
    height: 200px;

    @media screen and (min-width: 768px) {
        width: 25%;
        height: auto;
    }
}

.galleryimg img {
    object-fit: contain;
    max-width: 100%;

}

//footer 

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.footer-logo {
    margin-top: 70px;
    margin-bottom: 50px;
}

.footer-links {
    display: flex;
    margin-bottom: 80px;
}

.footer-link {
    padding: 40px 28px;
    color: var(--footer-text)
}


#social a {
    margin: 0 14px;
}

.footer-link:hover,
#social a:hover,
.attribution a:hover {
    opacity: 0.7;
}

// mobile 

@media screen and (max-width: 768px) {}