@forward 'globals';

//main section

.first-sec {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 375px 450px 375px 450px 600px 600px;

    @media screen and (min-width: 768px) {
        min-height: 2400px;
        grid-template-columns: 750px;
        grid-template-rows: repeat(6, 1fr);
    }

    @media screen and (min-width: 980px) {
        min-height: 1800px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.main-text {
    margin-top: 32px;
    margin-bottom: 32px;
    color: var(--grey-text);
}

//blurb text

.blurb1 {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 24px;

    @media screen and (min-width: 768px) {
        padding: 0 80px;
    }

    @media screen and (min-width: 980px) {
        grid-column: 1;
        grid-row: 1;
        padding: 0 80px;
        text-align: left;
    }

    @media screen and (min-width: 1245px) {
        padding: 0 120px;
    }
}

.blurb2 {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 24px;

    @media screen and (min-width: 768px) {
        padding: 0 80px;
    }

    @media screen and (min-width: 980px) {
        grid-column: 2;
        grid-row: 2;
        padding: 0 80px;
        text-align: left;
    }

    @media screen and (min-width: 1245px) {
        padding: 0 120px;
    }
}

//blurb images

.blurb-img1 {
    grid-column: 1;
    grid-row: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-transform.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-transform.jpg');
    }

    @media screen and (min-width: 980px) {
        grid-column: 2;
        grid-row: 1;
    }
}

.blurb-img2 {
    grid-column: 1;
    grid-row: 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-stand-out.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-stand-out.jpg');
    }

    @media screen and (min-width: 980px) {
        grid-column: 1;
        grid-row: 2;
    }
}

//learn more links

#learn1::before {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    z-index: -1;
    background-color: var(--yellow);
    border-radius: 0.3rem;
    height: 0.5rem;
    width: 100%;
    opacity: 0.3;
}

#learn2::before {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    z-index: -1;
    background-color: var(--soft-red);
    border-radius: 0.3rem;
    height: 0.5rem;
    width: 100%;
    opacity: 0.3;
}

#learn1:hover::before,
#learn2:hover::before {
    opacity: 1;
}

//photography/graphic design section

.blurb3 {
    grid-column: 1;
    grid-row: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-graphic-design.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }

    @media screen and (min-width: 980px) {
        grid-column: 1;
        grid-row: 3;
    }
}

.blurb4 {
    grid-column: 1;
    grid-row: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile/image-photography.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/desktop/image-photography.jpg');
    }

    @media screen and (min-width: 980px) {
        grid-column: 2;
        grid-row: 3;
    }
}

//testimonials

.testimonials {
    margin: 64px auto;

    @media screen and (min-width: 768px) {
        margin: 100px auto;
    }

    @media screen and (min-width: 980px) {
        margin: 160px auto;
    }

}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 980px) {
        flex-direction: row;
        justify-content: center;
        width: 75%;
    }
}

.client {
    margin: 32px 24px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin: 20px 80px;
    }

    @media screen and (min-width: 980px) {
        margin: 0 45px 0 0;
    }
}

.client:last-of-type {

    @media screen and (min-width: 980px) {
        margin: 0;
    }
}

.clientimg {
    width: 72px;
    border-radius: 100%;
}