html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "barlow", sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
    max-width: 400px;
    background-color: var(--off-white);

    @media screen and (min-width: 768px) {
        max-width: 1450px;
    }
}