:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --lt-yellow: hwb(51 48% 0%);
    --off-white: hsl(34, 100%, 99%);
    --GD-cyan: hsl(198, 62%, 26%); //graphic design
    --GD-cyan-dark: #24554A;
    --PT-blue: hsl(198, 62%, 26%); //photography
    --PT-blue-dark: #052C3B;
    --footer-text: hsl(168, 34%, 41%); //footer text
    --footer-bg: hsl(168, 44%, 70%);

    --lt-grey: hsl(210, 4%, 67%); //testimonial job title
    --grey-text: hsl(232, 10%, 55%); //testimonial p, gen p
    --v-dark-grey-blue: hsl(213, 9%, 39%); // ???
    --dark-text: hsl(212, 27%, 19%); //testimonial name / headers top
}