html {
    font-size: 18px;
}

:root {
    --font-15px: 0.8rem;
    --font-16px: 0.9rem;
    --font-18px: 1rem;
    --font-20px: 1.1rem;
    --font-28px: 1.5rem;
    --font-32px: 1.8rem;
    --font-40px: 2.2rem;
    --font-48px: 2.6rem;
    --font-56px: 3.1rem;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.heading {
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'fraunces', serif;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7rem;
}

a,
a:visited,
a:active {
    text-decoration: none;

}

ul {
    list-style: none;
    padding-inline-start: 0;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: var(--font-40px);
    letter-spacing: 0.5rem;
    padding-top: 70px;
    padding-bottom: 50px;

    @media screen and (min-width: 768px) {
        padding: 90px 0;
        font-size: var(--font-48px);

    }

    @media screen and (min-width: 980px) {
        font-size: var(--font-56px);
    }
}

h2 {
    font-size: var(--font-32px);
    color: var(--dark-text);

    @media screen and (min-width: 768px) {
        font-size: var(--font-40px);
    }

    @media screen and (min-width: 1245px) {
        padding-right: 50px;
    }
}

h3 {
    font-size: var(--font-28px);
}

h4 {
    font-size: var(--font-16px);
    color: var(--lt-grey);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding-bottom: 50px;

    @media screen and (min-width: 768px) {
        font-size: var(--font-20px);
    }

    @media screen and (min-width: 980px) {
        padding-bottom: 80px;
    }
}

.learn-more {
    text-transform: uppercase;
    font-size: var(--font-15px);
    color: var(--dark-text);
    position: relative;
    padding: 8px;
    width: fit-content;
    align-self: center;

    @media screen and (min-width: 980px) {
        align-self: start;
    }
}

.blurb3 h3 {
    color: var(--GD-cyan-dark);
}

.blurb3 p {
    font-size: var(--font-16px);
    text-align: center;
    color: var(--GD-cyan);
    padding: 27px 24px 60px 24px;

    @media screen and (min-width: 768px) {
        padding: 20px 80px 40px;
    }

    @media screen and (min-width: 1245px) {
        padding: 30px 180px 60px;
    }


}

.blurb4 h3 {
    color: var(--PT-blue-dark);
}

.blurb4 p {

    font-size: var(--font-16px);
    text-align: center;
    color: var(--PT-blue);
    padding: 27px 24px 60px 24px;

    @media screen and (min-width: 768px) {
        padding: 20px 80px 40px;
    }

    @media screen and (min-width: 1245px) {
        padding: 30px 180px 60px;
    }
}

.review {
    color: var(--grey-text);
    font-size: var(--font-16px);
    margin: 20px auto;

    @media screen and (min-width: 980px) {
        margin: 60px auto;
    }

}

.client-name {
    color: var(--dark-text);
    font-family: 'fraunces', serif;
    font-weight: 900;


    @media screen and (min-width: 980px) {
        margin-bottom: 10px;
    }
}

.client-title {
    color: var(--lt-grey);
    font-size: var(--font-15px);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--GD-cyan-dark);
}